:root {
	--red-900: #260000;
	--red-800: #400000;
	--red-700: #660000;
	--red-600: #800000;
	--red-500: #8d1a1a;
	--red-400: #993333;
	--red-300: #a64d4d;
	--red-200: #c08080;
	--red-100: #cc9999;
	--red-000: #d9b3b3;
	--red: var(--red-600);

	--gray-900: #14141d;
	--gray-100: #ffffff;
	--black: var(--gray-900);
	--white: var(--gray-100);
}

html {
	box-sizing: border-box;
	overflow: hidden;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;

	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

body {
	position: relative;

	height: 100vh;
	overflow: hidden;
}

p {
	color: var(--white);
	font-size: 3.7rem;
}

div {
	position: absolute;
	inset: 0;
}

.fadesOut {
	animation-duration: 1.3s;
	animation-fill-mode: forwards;
	animation-name: fadeOut;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.slidesOut {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-name: slideOut;
}

@keyframes slideOut {
	from {
		left: 0;
	}

	to {
		left: 200vw;
	}
}

main {
	display: grid;
	grid-auto-rows: 8rem 1fr;

	position: absolute;
	inset: 0;
	z-index: 1;

	min-height: 100vh;
	background: var(--white);
}

header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.8rem;

	width: 100vw;
	padding: 4rem 1.5rem;

	opacity: 0;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-delay: 5.1s;
	animation-name: fadeIn;
}

h1 {
	color: var(--red);
	font-size: 2.5rem;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	padding: 2rem 0 6rem;

	width: 100vw;
}

button {
	width: 50vw;
	padding: 1.5rem;
	border: 2px solid var(--red-400);

	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 1.8rem;
	color: var(--red-300);

	opacity: 0;
	animation-duration: 2.8s;
	animation-fill-mode: forwards;
	animation-delay: 5.5s;
	animation-name: fadeIn;

	border-radius: 20px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

#gray-900 {
	z-index: 12;

	background: var(--black);
}

#red-900 {
	z-index: 11;

	background: var(--red-900);

	animation-delay: 1.2s;
}

#red-800 {
	z-index: 10;

	background: var(--red-800);

	animation-delay: 1.8s;
}

#red-700 {
	z-index: 9;

	background: var(--red-700);

	animation-delay: 2.2s;
	animation-duration: 0.9s;
}

#red-600 {
	display: grid;
	place-items: center;

	z-index: 8;

	background: var(--red-600);

	animation-delay: 3.4s;
}

#red-500 {
	z-index: 7;

	background: var(--red-500);

	animation-delay: 4.1s;
	animation-duration: 0.8s;
}

#red-400 {
	z-index: 6;

	background: var(--red-400);

	animation-delay: 4.4s;
	animation-duration: 0.8s;
}

#red-300 {
	z-index: 5;

	background: var(--red-300);

	animation-delay: 4.7s;
	animation-duration: 0.7s;
}

#red-200 {
	z-index: 4;

	background: var(--red-200);

	animation-delay: 4.9s;
	animation-duration: 0.6s;
}

#red-100 {
	z-index: 3;

	background: var(--red-100);

	animation-delay: 5s;
	animation-duration: 0.5s;
}

#red-000 {
	z-index: 2;

	background: var(--red-000);

	animation-delay: 5.1s;
	animation-duration: 0.4s;
}
